h2 {
    color: darkblue;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 5px;
    padding-top: 0px;
    margin: 0px;


}
    div {
     
        border-width: .5 px;
        border-style: solid;
        border-radius: 10 px;
        margin-bottom: 20px;
        -webkit-border-radius: 1em; 

        box-shadow: 0px 5px 0px 0px blue;

        background-color: lightgray;
    }
    #ry {
     
        border-width: .5 px;
        border-style: solid;
        border-radius: 10 px;
        margin-bottom: 20px;
        -webkit-border-radius: 1em; 

        box-shadow: 0px 5px 0px 0px blue;

        background-color: white;
    }


    img {
        border: 2px solid black;
        box-shadow: 3px 3px 5px black;
    }

    #secretpuzzle{
        color: grey;
    }
    
    #qs{
    
    color:aqua;
    }
    
    #abtme{

        color:cadetblue;
    }
       
    #top10m{
        color:coral;
    }
    #top10f{
        color:darkcyan;
    }
    #places{
        color:red;
    }
    #websites{
      color: green;  
    }
    #colors{
        color: teal;
    }
    #blue{
        color: blue;
    }
    #ba {
     
        border-width: .5 px;
        border-style: solid;
        border-radius: 10 px;
        margin-bottom: 20px;
        -webkit-border-radius: 1em; 

        box-shadow: 0px 5px 0px 0px red;

        background-color: white;
    }
       
        
    
}